---
layout: page-layout
---

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="{{site.url}}/">FAQ</a>
      <ul class="nav">
        <li><a href="{{site.url}}/authors">Authors</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <p>{{page.date | date_to_string}}
  {% if page.tags %}
  {% for tag in page.tags %}
  {% if forloop.first %} - {% endif %}
  <strong>{{tag}}</strong>{% unless forloop.last %}, {% endunless %}
  {% if forloop.last %}<br />{% endif %}
  {% endfor %}
  {% endif %}</p>
  <div id="main-content">
    {{content}}
  </div>
</div>

